<div class="container-fluid black py-4 mt-4 card">

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Notes <i class="fas fa-sticky-note"></i> </h2>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>

</div>